zsh/functions/apollo-push
zsh/functions/apollo-check
zsh/functions/refactors
zsh/functions/todos
zsh/hidden_exports
zsh/uncommittable_aliases
zsh/notes

neovim/undodir/
neovim/.netrwhist
neovim/plugged/
neovim/autoload/plug.vim
